@import "../../styles/_constants";

.button {
  padding: 8px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 24px;
  font-weight: 400;
  color: $light-green;

  cursor: pointer;

  border-radius: 5px;
  border: none;
  background-color: $primary-green;
}

#publish {
  position: absolute;
  left: 0;
  bottom: 0;
}
